#container {
	text-align: center;
}

#container strong {
	font-size: 20px;
	line-height: 26px;
}

#container p {
	font-size: 16px;
	line-height: 22px;
	color: #8c8c8c;
	margin: 0;
}

#container a {
	text-decoration: none;
}
#calculation_area {
	min-height: 180px;
	border: 1px solid #8c8c8c;
	margin: 4px;
	text-align: right;
	position: relative;
}
#calculation_area h1 {
	position: absolute;
	bottom: 16px;
	right: 16px;
}
#firstNumber {
	position: absolute;
	top: 25px;
	right: 16px;
}
#secondNumber {
	position: absolute;
	top: 50px;
	right: 16px;
}
#dot {
	padding-bottom: 25px;
	font-size: 50px;
	margin: 0px;
}
.actions {
	font-size: 35px;
	margin: 0px;
	text-align: center;
}
