<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-item slot="start" lines="none">
			<ion-icon name="grid"></ion-icon>
		</ion-item>
		<ion-item slot="end" lines="none">
			<ion-icon name="contrast" color="dark"></ion-icon>
			<ion-toggle
				slot="start"
				name="blackberry"
				color="dark"
				slot="end"
				checked
				(ionChange)="OnClick($event)"
			></ion-toggle>
		</ion-item>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div id="container">
		<div id="calculation_area">
			<h2 id="firstNumber" *ngIf="oldString">
				{{oldString}} = {{oldResult}}
			</h2>
			<h2 id="secondNumber" *ngIf="currentString">{{currentString}}</h2>
			<div *ngIf="result"><h1>{{result}}</h1></div>
		</div>
		<div id="button_area">
			<ion-row>
				<ion-col>
					<ion-button
						shape="round"
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('AC')"
					>
						<h2 class="ion-no-margin">AC</h2>
					</ion-button>
				</ion-col>
				<ion-col>
					<ion-button
						shape="round"
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('del')"
					>
						<ion-icon name="backspace-outline"></ion-icon>
					</ion-button>
				</ion-col>
				<ion-col>
					<ion-button
						shape="round"
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('%')"
					>
						<h1 class="ion-no-margin">%</h1>
					</ion-button>
				</ion-col>
				<ion-col>
					<ion-button
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('/')"
					>
						<h1 class="ion-no-margin">/</h1>
					</ion-button>
				</ion-col>
			</ion-row>
			<!--Second Row-->
			<ion-row>
				<ion-col>
					<ion-button
						shape="round"
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('7')"
					>
						<h1 class="ion-no-margin">7</h1>
					</ion-button>
				</ion-col>
				<ion-col>
					<ion-button
						shape="round"
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('8')"
					>
						<h1 class="ion-no-margin">8</h1>
					</ion-button>
				</ion-col>
				<ion-col>
					<ion-button
						shape="round"
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('9')"
					>
						<h1 class="ion-no-margin">9</h1>
					</ion-button>
				</ion-col>
				<ion-col>
					<ion-button
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('*')"
					>
						<h1>*</h1>
					</ion-button>
				</ion-col>
			</ion-row>
			<!--Third Row-->
			<ion-row>
				<ion-col>
					<ion-button
						shape="round"
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('4')"
					>
						<h1 class="ion-no-margin">4</h1>
					</ion-button>
				</ion-col>
				<ion-col>
					<ion-button
						shape="round"
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('5')"
					>
						<h1 class="ion-no-margin">5</h1>
					</ion-button>
				</ion-col>
				<ion-col>
					<ion-button
						shape="round"
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('6')"
					>
						<h1 class="ion-no-margin">6</h1>
					</ion-button>
				</ion-col>
				<ion-col>
					<ion-button
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('-')"
					>
						<h1>-</h1>
					</ion-button>
				</ion-col>
			</ion-row>
			<!--Forth Row-->
			<ion-row>
				<ion-col>
					<ion-button
						shape="round"
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('1')"
					>
						<h1 class="ion-no-margin">1</h1>
					</ion-button>
				</ion-col>
				<ion-col>
					<ion-button
						shape="round"
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('2')"
					>
						<h1 class="ion-no-margin">2</h1>
					</ion-button>
				</ion-col>
				<ion-col>
					<ion-button
						shape="round"
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('3')"
					>
						<h1 class="ion-no-margin">3</h1>
					</ion-button>
				</ion-col>
				<ion-col>
					<ion-button
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('+')"
					>
						<h1>+</h1>
					</ion-button>
				</ion-col>
			</ion-row>
			<!--Fifth Row-->
			<ion-row>
				<ion-col>
					<ion-button
						shape="round"
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('ans')"
					>
						<p><b>ANS</b></p>
					</ion-button>
				</ion-col>
				<ion-col>
					<ion-button
						shape="round"
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('0')"
					>
						<h1 class="ion-no-margin">0</h1>
					</ion-button>
				</ion-col>
				<ion-col>
					<ion-button
						shape="round"
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('.')"
					>
						<h1 id="dot">.</h1>
					</ion-button>
				</ion-col>
				<ion-col>
					<ion-button
						color="dark"
						fill="solid"
						size="large"
						(click)="Input('res')"
					>
						<h1>=</h1>
					</ion-button>
				</ion-col>
			</ion-row>
		</div>
	</div>
</ion-content>
